body{
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: larger;
}
nav {
    background-color: black;
    justify-content: space-between; /* Trouvé sur Mozilla */    
    padding-bottom: 1em;   
    display: flex; /* Trouvé sur Mozilla */
    padding-top: 1%;  
    padding-bottom: 2em;  

}
div{
  padding-left: 1em;
  padding-right: 1em;
}
li{
  font-family: "Comic Sans MS", "Comic Sans";
}
nav a {
  color: whitesmoke;
  text-decoration: none; /* Trouvé sur Mozilla */
}
.nav-group {
  display: flex; /* Trouvé sur Mozilla */
}
  
  
a:hover {
    color: blue;
}

aside{
  padding-right: 1%;
}
main {
    padding-left: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "header header "
    "main aside"
    "footer  footer";
    gap: 20px; /* Trouvé sur Mozilla */

  }
 aside{
  padding-left: 7%;
  margin-bottom: -6.7%; /* Je suis au courant que ce n'est pas la meilleure façon de le faire */
 }
  
.bleu{
    background-color: rgb(0, 162, 255);
  }
.orange{
  background-color: rgba(239, 175, 56, 0.885);

}
img{
  max-width: 350px;
  margin: auto;
}
figure {
  background-color: white;
  border: solid black 1px;
  padding: 10px;
  width: fit-content;
  float: left;
}
.caption{
  font-style: italic;
}
footer {
  color: black;
  background-color: grey;
  text-align: right;
  padding: 1em;
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: medium;
  padding-bottom: 2.6%;
}

#gradient-header {
  background: linear-gradient(to right, blue,black);
  padding: 20px;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}

.image-opacity {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.image-opacity:hover {
  opacity: 1;
}

#image-gallery-section .image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#image-gallery-section .image-gallery img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s;
}

#image-gallery-section .image-gallery img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#rounded-border-section .rounded-border {
  border: 5px solid black;
  border-radius: 20px;
  padding: 10px;
}
.gradient-box {
  margin: 20px auto;
  padding: 50px;
  width: 80%;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
}

.gradient-box {
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.gradient-box.vertical-gradient {
  background: linear-gradient(to bottom, #a18cd1, #fbc2eb);
}

.gradient-box.diagonal-gradient {
  background: linear-gradient(to bottom right, #43cea2, #185a9d);
}
.explanation {
  background-color: gainsboro;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  width: 90%;
  font-size: 1em;
  color: #333;
  border-radius: 5px;
}